<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>

      table{
        padding: 10px;
      }
      td{
        padding: 10px;
      }
      
    </style>
  </head>
  <body>
    <table border="" >
      <tr>
        <th>name</th>
        <th> email</th>
      </tr>
    <% data.forEach((e) => {%>

    <tr>
      <td><%= e.name%></td>
      <td><%= e.email%></td>
    </tr>

    <%});%>

    </table>
    <a href="/">go back</a>
  </body>
</html>
